@import '../../assets/styles/main.scss';

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 1em 0;
  border: $color-secondary 5px solid;
  background-color: white;

  @media (min-width: $breakpoint-laptop) {
    margin: 1em 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    margin: 1.5em 0 0;
    width: 90px;
    height: 90px;
  }

  &__title {
    margin: 0.5em 0 0 0;
    color: $color-tertiary;
  }

  &__price {
    color: $color-primary;
    margin: 0 0 0.5em;
  }

  &__time {
    font-family: $font-primary;
    letter-spacing: 0.25rem;
  }

  &__list {
    width: 80%;
    text-align: left;
    color: $color-secondary;
    list-style: none;

    &-sub {
      list-style: none;

      > li {
        &::before {
          content: '✓';
          color: $color-tertiary;
          display: inline-block;
          font-weight: 700;
          text-indent: -1.5em;
        }
      }
    }
  }

  &__center {
    text-align: center;
    color: $color-tertiary;
    margin: 0;
    padding: 0.25em 1.5em 0.25em 0;
  }

  &__book {
    color: $color-tertiary;
    margin: auto auto 1.25em auto;
    padding-top: 2.5rem;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    text-decoration: none;
    @include underline-dark;
  }

  &__single {
    margin: 0;
    padding: 0.25em 0;
    font-size: 90%;
    background-color: $color-secondary;
  }

  &--special {
    border-color: $color-tertiary;

    .plan__single {
      background-color: $color-tertiary;
    }
  }

  &--deal {
    margin: 0;
    background-color: $color-tertiary;
  }
}
