@import "../../assets/styles/main.scss";

.footer {
  height: 7.5vh;
  color: $color-primary;
  background-color: $color-tertiary;
  @include center;

  &__content {
    width: 85%;
    text-align: center;
  }

  &__copyright {
    font-family: $font-primary;
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    margin: 0;
  }
}
